*{
    font-family: sans-serif;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
  
.left {
  left: 0;
}

.right {
  right: 0;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
  
.centered img {
  width: 100%;
}


.comments {
  text-decoration: underline;
  text-underline-position: under;
  cursor: pointer;
}

.text-area {
  background-color: #f7f7f7;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;

  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

select, input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: 2px solid #ddd;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

select {
  margin-top: 20px;
}
.popup-message {
  position: fixed;
  top: 70px;
  right: 20px;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 9999;
  display: none;
}
